@font-face {
    font-family: 'DancingScript-Regular';
    src: url('../Fonts/DancingScript-Regular.ttf') format('truetype');
}

* {
  font-family: 'DancingScript-Regular';
}

/*Version para Desktops*/
@media (min-width:900px) {
    html {
        width: 100%;
        height: 100%;
      }
    body {
        width: 100%;
        height: 100%;
        margin: 0;
        background: #02010a;

        display: flex;
        justify-content: center;
        align-items: center;
      }
    img {
        width: 100px;
        height: 100px;
      }
    .Contenido {
        width: 900px;
        height: 90%;
        margin: 0;
        box-sizing: border-box;

        animation: mianimacion 1s;
      }

   /*Estilos Encabezado*/
    .Contenido .Item1 {
        width: 100%;
        height: 8%;
        margin: 0;
        background: #5b7989;
        border-radius: 10px 10px 0 0;

        display: flex;
        }

      /*Titulo*/
    .Contenido .Item1 .SubItem1 {
        width: 60%;
        height: 100%;
        margin: 0;
        padding-left: 10px;

        display: flex;
        justify-content: flex-start;
        }
    .Contenido .Item1 .SubItem1 h1 {
        width: 90%;
        color: white;
        text-shadow: 2px 2px 2px #02010a;

        display: flex;
        align-items: center;
        }
  /*Menu*/
    .Contenido .Item1 .SubItem2 {
        width: 40%;
        height: 100%;
        margin: 0;
        padding-right:10px;

        display: flex;
        justify-content: flex-end;
        }
    .Contenido .Item1 .SubItem2 a {
        width: 90%;
        color: white;

        display: flex;
        align-items: center;
        }

  /*Estilos Galerias*/
    .Contenido .Item2 {
            width: 100%;
            height: 73%;
            margin: 0;
            background:  #d5c75f;

            display: flex;
            justify-content: center;
            align-items: center;
          }
    .Contenido .Item2 .SubItem1 {
        width: 90%;
        height: 90%;

        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        }
    .Contenido .Item2 .SubItem1 img {
        width: 30%;
        height: 45%;
      }
    .Contenido .Item2 .SubItem1 img:first-child {
            filter: blur(10px);
          }
    .Contenido .Item2 div img:nth-child(even) {
      filter: grayscale(100%);
      }
    .Contenido .Item2 div img:nth-child(3){
        filter: sepia(90%);
      }

  /*Estilos Pie de Pagina*/
    .Contenido .Item3 {
        width: 100%;
        height: 19%;
        margin: 0;
        box-sizing: border-box;
        padding-left: 10px;
        background: #C6d5c5;
        border-radius: 0 0 10px 10px;

        display: flex;
      }
    .Contenido .Item3 > div {
        width: 25%;
        height: 100%;
        margin: 0;
        box-sizing: border-box;
        font-size: 14px;
      }
        /*Estilo para Seccion de redes sociales*/
    .Contenido .Item3 .SubItem3 .SubSubItem1 p {
      margin-bottom: 2px;
    }
    img[src^='img/icono_'] {
       width: 8%;
       height: 8%;
       }

 /*Animacion Efecto SlidIn*/
    @-webkit-keyframes mianimacion {
      0% {
        margin-top: 150%;
      }
      60% {
        margin-top: -5%;
      }
      100% {
        margin-top: 0%;
      }
      }
}



/*Version para Mobiles*/
@media (max-width:899px) {
  html {
    width: 100%;
    height: 100%;
    margin: 0;

    display:flex;
    justify-content: center;
    align-items: center;

  }
  body {
    width: 98%;
    height: 100%;
    margin:0;
    background: #02010a;

    display: flex;
    justify-content: center;
    align-items: center;

  }
  img {
    width: 100px;
    height: 100px;
  }

  .Contenido {
      width: 100%;
      height: 97%;
      margin: 0;
      animation: mianimacion 1s;
      }

      /*Encabezado*/
  .Contenido .Item1 {
     width: 100%;
     height: 100px;
     margin: 0;
     background: #5b7989;
     border-radius: 10px 10px 0 0;

     display: flex;
     flex-wrap: wrap;
     }
  .Contenido .Item1 .SubItem1 {
    width: 100%;
    height: 70%;
    color: white;
    text-shadow: 2px 2px 2px #02010a;

    display: flex;
    justify-content: center;
    align-items: center;

    }
  .Contenido .Item1 .SubItem2 {
     width: 100%;
     height: 30%;

     display: flex;
     justify-content: center;
     align-items: center;
    }
  .Contenido .Item1 .SubItem2 a{
     color: white;
     margin-right: 20px;
    }

  /*Galeria*/
  .Contenido .Item2, .Contenido .Item2 div  {
    width: 100%;
    margin: 0;
    background:  #d5c75f;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .Contenido .Item2 div img {
    width: 80%;
    height: 200px;
    max-height: 200px;
    margin: 10px;
  }
  .Contenido .Item2 div img:first-child {
        filter: blur(10px);
      }
  .Contenido .Item2 div img:nth-child(even) {
        filter: grayscale(100%);
      }
  .Contenido .Item2 div img:nth-child(3) {
        filter: sepia(90%);
      }

  /*Pie de Pagina*/
  .Contenido .Item3 {
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    padding-left: 10px;
    background: #C6d5c5;
    border-radius: 0 0 10px 10px;

    display: flex;
    flex-wrap: wrap;
    }
  .Contenido .Item3 div {
      width: 100%;
    }
  .Contenido .Item3 div img {
    width: 25px;
    height: 20px;
    max-width: 25px;
    max-height: 20px;

  }

    /*Animacion Efecto SlidIn*/
  @-webkit-keyframes mianimacion {
           0% {
             margin-top: 150%;
           }
           60% {
             margin-top: -5%;
           }
           100% {
             margin-top: 0%;
           }
           }

         }
}
